# Maven 编译产物
target/
*.class
*.jar
*.war

# IDE 配置
.idea/
*.iml

# Node
node_modules/
dist/

# WorkBuddy
.workbuddy/

# 系统文件
.DS_Store
Thumbs.db
application-local.yml
backend-service/application-local.yml
